<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="\static\css\materials.css">
    <title>Document</title>
</head>
<body>
<div class="body">
    <div class="nav flex jc_sb">
        <div class="flex">
            <img class ="logo" src="https://placekeanu.com/60/60" alt="logo">
            <span class="logoname">Genshin Tracker</span>
            
        </div>
        <form action="" method='post'>
        <div class="flex jc_c">
                <input type="text" placeholder="Search" name="search" class="search" size="30">
                <button type="submit" class="searchbtn"><img class ="searchimg" src="\static\img\search.jpg" alt="logo"></button>
        </div>
        </form>
        <div class="flex jc_sa navbutton">
            <a href="/" onmouseover="navbuttonover(this)" onmouseout="navbuttonout(this)">Home</a>
             <!-- IF STATEMENT FOR SESSION -->
             <a href="/login" onmouseover="navbuttonover(this)" onmouseout="navbuttonout(this)">Account</a>
             <!-- END STATEMENT FOR SESSION -->
            <a href="" onmouseover="navbuttonover(this)" onmouseout="navbuttonout(this)">Map</a>
            <a href="/logout" onmouseover="navbuttonover(this)" onmouseout="navbuttonout(this)">Logout</a>
        </div>
    </div>


    <div class="pagecontent flex">
        <div>
            <h1>Material name</h1>
            <img src="https://placekeanu.com/400/400" alt="where">
            <div class="contentbox">General info</div>
            <div class="contentbox">General info</div>
            <div class="contentbox">General info</div>
        </div>
        <div>
            <div>
                <img src="https://placekeanu.com/600/600" alt="where">
            </div>
            <div class="contentbox">General info</div>
            <div class="contentbox">General info</div>
            
        </div>
    </div>

</div>
<!-- <script src="\static\js\home.js"></script> -->
</body>
</html>