* {
    margin: 0px;
    padding: 0px;
    color:white;
}


.flex{
    display:flex;
    align-items: center;
    
}

.jc_sb{
    justify-content: space-between;
}

.jc_sa{
    justify-content: space-around;
}

.jc_c{
    justify-content: center;
}
.nav {
    width: 100%;
    height:70px;
    background-color:rgb(34,36,49);
}

.logo{
    width:70px;
}

.searchimg{
    width:20px;
    height:20px;
    background-color: white;;
    border-radius:50%
}

.logoname{
    font-size: 200%;
    margin-left:10px;
    color:white;
}
.searchbtn{
    border:none;
    border-radius: 0 25px 25px 0;
    padding:3px;
}
.nav>div{
    margin:10px;
    flex:1;
    height:100%;
}

.search{
    font-size:25px;
    border:none;
    border-radius: 25px 0 0 25px;
    color:black;
    padding: 0px 0px 0px 15px;
}

.navbutton>a{
    color:rgb(178,190,181);
    font-size:150%;
    text-decoration:none;
    transition: all 100ms linear;
}


.navbutton>a:hover{
    color:white;
    border-bottom:solid rgb(66,165,245);
}



.body{
    background-image: url('home_background.jpg');
    height:100vh;
    background-repeat:no-repeat;
    
}

.pagecontent {
    margin: 1% 5% 0 5%;
    background-color: rgb(34,36,49, 0.9);
    height: 90vh;
    border:solid black;
}



.tab {
    overflow:hidden;
    font-size:0px;
    border-bottom:solid rgb(66,165,245);
}

.tab button{
    font-size:30px;
    width:250px;
    background-color: rgb(34,36,49);
    color:rgb(178,190,181);
    outline:none;
}

.tab button:active{
    transform: scale(0.99);
    
}

.tab button:focus{
    background-color: rgb(66,165,245);
    border-bottom:none;
    color:white
}

.tabcontent {
    display:none;
}

div.sidebar{
    flex:1;
    border-right: solid rgb(66,165,245);
    display:flex;
    align-items:left;
    justify-content: top;
    flex-direction:column;
}

div.sidebar>*{
    margin:20px;
}
div.mainbar{
    flex:7;
    display:flex;
    flex-wrap:wrap;
    overflow-y:scroll;
}

div.mainbar::-webkit-scrollbar {
    display:none;
}

.sidebar, .mainbar{
    height: 85vh;
}

.sort{
    width:30px;
    height:30px;
    background-color: black;
    
}

.sortbtn{
    margin:10px;
    background-color: black;
    
}

.sortbtn:active{
    transform: scale(0.98);
}

.sortbtn:focus{
    border:1px solid rgb(66,165,245)
}
.stars{
    width:50px;
}

.five {
    background-image: linear-gradient(rgb(154,108,69),rgb(218,170,131));
    
}

.four {
    background-image: linear-gradient(rgb(115,90,151),rgb(178,153,200));
}

.entry {
    margin:25px;
    border-radius:20px;
    height:185px;
}
.entryimage, .placeholderimage {
width:180px;
height:180px;
border:solid black;
border-radius:20px;

}

.placeholder{
    opacity:0.0;
    margin:25px;
    border-radius:20px;
    height:185px;
}

#livesearchresults{
    position:absolute;
    width:300px;
    background-color:white;
    color:black;
}


#livesearchresults>div{
    color:black;
    border:solid black;
    height:100px;
}